
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding-left: 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  margin-right: 1rem;
}

.navbar-brand img {
  line-height: 1;
  max-height: 50px;
  margin-right: 6px;
  width: 100px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 5%; /* Optional: make the logo circular */
}
.navbar-brand span {
  font-size: 26px;
  font-weight: 500;
  color: #0b0d11;
}



